<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style/materialize" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="style/randomStyle.css" type="text/css" rel="stylesheet" media="screen,projection">
    <script src:"style/materialize/js/materialize.min.js"></script>
    <script src="js/jquery-3.1.1.js"></script>
  </head>

  <body>
    <nav>
       <div class="nav-wrapper">
         <a href="/" class="brand-logo left">Memeaction v1.0</a>
         <ul id="nav-mobile" class="right">
           <li><a href="/about">About</a></li>
           <li><a href="https://github.com/RyanHecht/Memeaction">Source Code</a></li>
         </ul>
       </div>
    </nav>
    <div class="container valign-wrapper center-align" id="mainContainer" style="width:100%;height:100%;">
      <div class="valign" style="width:100%;">
         <div class="row center-align" style="width:100%;">
            <h3><%= emotion %>!</h3>
         </div>
         <div class="row center-align" style="width:100%;">
            <img width="10%" hight="10%" src="https://memeaction.azurewebsites.net/img/<%= imgID %>.png"></img>
         </div>
         <div class="row center-align" style="width:100%;">
            <a class="waves-effect waves-light btn" href="/image" id="BT1" style="">Retake?</a>
         </div>
         <div class="row center-align" style="width:100%;">
            <div class="col s6 m6 l6">
              <img width="50%" hight="50%" src="https://media.giphy.com/media/<%= gifs[0] %>/giphy.gif"></img>
            </div>

            <div class="col s6 m6 l6">
              <img width="50%" hight="50%" src="https://media.giphy.com/media/<%= gifs[1] %>/giphy.gif"></img>
            </div>
         </div>
         <div class="row center-align" style="width:100%;">
            <div class="col s6 m6 l6">
              <img width="50%" hight="50%" src="https://media.giphy.com/media/<%= gifs[2] %>/giphy.gif"></img>
            </div>

            <div class="col s6 m6 l6">
              <img width="50%" hight="50%" src="https://media.giphy.com/media/<%= gifs[3] %>/giphy.gif"></img>
            </div>
         </div>
      </div>
    </div>
  </body>
</html>
